In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

###### 由list创建pandas

In [5]:
jupya=[[1,2,3],[4,5,6],[7,8,9]]

df1=pd.DataFrame(a)  # 可以加参数为：index=['a','b','c'],columns=column
df1 #行列默认为0

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

###### 由np创建

In [23]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])  
index=['a','b','c']  
column=['ming','wang','liang']  
df1=pd.DataFrame(a,index=['a','b','c'],columns=column)
df1

   ming  wang  liang
a     1     2      3
b     4     5      6
c     7     8      9

###### 字典创建

In [22]:
pd.DataFrame({'ones': np.ones(3),'two':np.zeros((3))})

   ones  two
0   1.0  0.0
1   1.0  0.0
2   1.0  0.0